body {
    font-family: Poppins regular,Arial,sans-serif;
    color: #2b3182;
}

p {
    color: #2b3182;
}

.pill {
    background-color: rgba(30, 181, 58, 0.1);  
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.graphPill {
    background-color: rgb(30, 181, 58, 0.2);  
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#chart, #boxPlotChart {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: flex-start; /* Adjusts vertical alignment, if needed */
    gap: 20px; /* Optional: space between elements */
    margin-top: 20px;
}

.line {
    fill: none;
    stroke-width: 2;
}

footer p {
    font-size: 0.9em;
    color: #777;
}

.active {
    background-color: #007bff !important;
    color: white !important;
}

.filter-group {
    margin-bottom: 15px;
}

#boxPlotChart {
    display: flex;
    gap: 20px;
}

#bar-example-1 .bar {
    --aspect-ratio: 2.2 / 1;
  }

.plot-title {
    font-size: 14px;
    text-anchor: middle;
}


#scatterplot {
    margin-top: 20px;
}

.annotation {
    font-size: 14px;
    font-weight: bold;
    fill: #333;
}

.topContainer {
    background-color: rgb(250, 250, 250);
    margin-top: 10px;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    pointer-events: auto;
}



.animation {
    width: 100%;
    height:100%;
    border-radius: 25px;
  }
  
.body, .animation {
      background: linear-gradient(-45deg, #1eb53a, #2b3182);
      background-size: 400% 400%;
      animation: gradient 60s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  



  /* Navigation bar styling */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover {
    background-color: #555;
    color: #fff;
    border-radius: 5px;
}
